<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contest Administration</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/fullcalendar.css" />	
		<link rel="stylesheet" href="css/unicorn.main.css" />
		<link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />
	</head>
	<body>
		<div id="header">		
		</div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
			<ul>
				<li class="active">
					<a href="dashboard.php"><i class="icon icon-home"></i> <span> Dashboard</span></a>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-user"></i> <span> Users</span> <span class="label">0</span></a>
					<ul>
						<li><a href="users.php">Registered Users</a></li>
						<li><a href="users.php">Add User</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="written.php"><i class="icon icon-pencil"></i><span> Written Scores</span> <span class="label">0</span></a>
					<ul>
						<li><a href="written.php">Manage Written Scores</a></li>
						<li><a href="written.php">Add Written Scores</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="tables.html"><i class="icon icon-comment"></i><span> Appeals</span> <span class="label">0</span></a>
					<ul>
						<li><a href="appeals.php">Manage Appeals</a></li>
						<li><a href="appeals.php">Add Contest Problems</a></li>
					</ul>
				</li>
				<li>
					<a href="interface.html"><i class="icon icon-th"></i><span> Scoreboard</span></a>
				</li>

				<li>
					<a href="grid.html"><i class="icon icon-cog"></i> <span> Settings</span></a>
				</li>
			</ul>
		
		</div>
		<div id="content">
			<div id="content-header">
				<h1>Dashboard</h1>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="alert alert-info">
							Welcome to the <strong>Administration Portal</strong>. Modify your settings, view/add written written scores scores, view the scoreboard, add users, manage appeals, or start your contest!
							<a href="#" data-dismiss="alert" class="close">×</a>
						</div>
						<div class="widget-box">
							<div class="widget-title"><span class="icon"><i class="icon-th"></i></span><h5>Scoreboard</h5></div>
							<div class="widget-content">
								<div class="row-fluid">
								<div class="span4">
									
								</div>
								<div class="span8">
									
								</div>	
								</div>							
							</div>
						</div>					
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="widget-box">
							<div class="widget-title"><span class="icon"><i class="icon-pencil"></i></span><h5>Written Scores</h5></div>
							<div class="widget-content">

							</div>
						</div>
					</div>
					<div class="span6">
						<div class="widget-box">
							<div class="widget-title"><span class="icon"><i class="icon-comment"></i></span><h5>Appeals</h5></div>
							<div class="widget-content">

							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 &copy; TATER TOTS JUNIOR PRESCHOOL ACADEMY. 
					</div>
				</div>
			</div>
		</div>

            <script src="js/excanvas.min.js"></script>
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery.ui.custom.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/unicorn.js"></script>
            <script src="js/unicorn.dashboard.js"></script>
	</body>
</html>
